* {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}



p{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 15px;
    color: black;
    
}


.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15%;
    text-align: left;
    margin-left: 10%;
}

.button{
  border: 1px solid black;
  border-radius: 10px;
  color: black;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  font-family: 'Open Sans';
}

.button:hover{
    color: white;
    background-color: black;
}
